@charset "UTF-8";

div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 100px 400px 100px;
}

header {
    background-color: blue;
    grid-area: 1 / 1 / 2 / 4;
}

nav {
    background-color: green;
    grid-area: 2 / 1 / 3 / 4;
}

main {
    background-color: yellow;
    grid-area: 3 / 1 / 4 / 3;
}

aside {
    background-color: red;
    grid-area: 3 / 3 / 3 / 4;
}

footer {
    background-color: pink;
    grid-area: 4 / 1 / 4 / 4;
}